@font-face {
    font-family: font_light;
    src: url(../fonts/roboto-latin-300.woff2);
}

@font-face {
    font-family: font_bold;
    src: url(../fonts/roboto-latin-400.woff2);
}

@font-face {
    font-family: font_bolder;
    src: url(../fonts/roboto-latin-500.woff2);
}

@font-face {
    font-family: font_extra_bold;
    src: url(../fonts/roboto-latin-700.woff2);
}