.bck-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: url(../../images/BANNER_0.jpg);
    background-repeat: no-repeat;
    opacity: 0.4;
}

.form-wrapper {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    .button-container {
        position: relative;
        margin-top: 32px;
        .btn {
            background-color: $color-siner;
            color: #fff;
            min-width: 48px;
            height: 48px;
            padding: 4px 16px;
            border-radius: 8px;
            box-shadow: none;
            text-transform: none;
            cursor: pointer;
            width: 100%;
            border-color: transparent;
        }
    }
}

.form-container {
    height: auto;
    border-radius: 8px;
    border: 1px solid $color-gray;
    .field-group {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 700px) {
    .form-wrapper {
        form {
            width: 600px;
            margin: 0 auto;
        }
        .button-container {
            .btn {
                display: block;
                width: 270px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .form-container {
        .field-group {
            flex-direction: row;
            div {
                flex: 1;
                &:first-child {
                    border-right: 1px solid $color-gray;
                }
            }
        }
    }
}